@import "tailwindcss";

:root {
  --background: #222120;
  --foreground: #F6F5F2;
  --accent: #8A9A5B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
}

.mail-link-text {
  position: relative;
  text-decoration: none;
}

/* .mail-link-text::after, */
.mail-link-text::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 6px;
  width: 100%;
  background-color: var(--accent);
  transform: translateX(0%);
  transform-origin: right;
  transition: all 0.35s ease;
}

/* .mail-link-text::after { */
/*   transform: scaleX(0); */
/*   opacity: 1; */
/* } */

/* .mail-link-text::before { */
/*   transform: scaleX(1); */
/* } */

.mail-link-text:hover::before {
  transform: translateX(0%) scaleX(0);
  /* opacity: 0; */
}

/* .mail-link-text:hover::after { */
/*   transform: scaleX(1); */
/* } */
